
python:
- '3.6'
- 3.6-dev
- 3.7-dev
install:
- python setup.py sdist
- python setup.py bdist_wheel
- pip install -r requirements.txt
- python -m pip install dist/pidgin-*.tar.gz --ignore-installed --no-deps
script:
- ipython -m pytest
- ipython -m pytest -- --nbval
- jupyter nbconvert --to markdown --execute --stdout --TemplateExporter.exclude_input=True readme_pidgin.md.ipynb > readme.md
deploy:
- provider: pypi
  user: docfast
  skip_cleanup: true
  password:
    secure: cg735XkIjnyWZsIo5pufoEKgQLwXZSdv8RrjXZ/ccP+6Dw6Uwsol0yO+9klhk3q+fcBqCOIZpk15goB3xTTzNlk8kXlDmlQBSZsFo1K7b8EzF1EfINPOttZGuukWTa4DYkH9V/6/y0R7RDTAGZOwIylxQ4V+Q4p3j3ZZ1fe9chtKykDi6Ebad+96vHZIL7v9OZn6CMwns1hN6RLvbJzwVRd0KyepZYGEswgbvTu47aqADS3a2K1p4YPe+MxmTe22fogaNTtTAnBCODqWTBH/42qsoLfhqwG7bdYRNvVpVtdtk/BfJpnCr46xypCFO3cAFxrzWMIsdtj3ckCLPfxBrNQqiiu0w4uaeAixpn5HFn1svQ8GsNTZdXzXJ/UkgrGEFv8AZPGPxaUmefMEOEJExcbCL3e/DtiWKAlOJNdXrYz2h6rsjdY0HiqE8EyPy2DdGuP5aaAWqr0j6d1Uc/VzMk35aOmJKLMTuxZJXZ4Szg9Yz+MBHHqr+N2MBtzAoEQLWENY8tmsSz8FOiY1ZmVoieHZQRDLPlU0mGMrmtJ8f5mdqayXZ7Rib/GUft2SixsqYEoDepN6q4NIBKfk/D2xu8zJ9DotdU9rtm2OWsy3xOwOYVt2gpcAqvRVoucXUUEWza1S6bTSFNtNZilk3teNNahySM21wOpkmdJTr9HdPWg=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: deathbeds/pidgin
    python: '3.6'
