[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2"]

[tool.setuptools_scm]
write_to = "src/pidgy/_version.py"
version_scheme = "release-branch-semver"
local_scheme = "node-and-timestamp"
