notebook
ipython>7
nbconvert
importnb
jupyter_client
htmlmin
pytest
stringcase
requests-cache

graphviz
ipywidgets
pandas
matplotlib

ruamel.yaml

hypothesis
nbval
sympy
pytest
black
isort
click
graphviz
stringcase
click
papermill