# docs
jupyter-book
black
sphinx-autoapi
# apps (for labextension version compatibility)
jupyterlab >=3.2,<4
# lite deps
jupyterlite[all] ==0.1.0a18
# pretties
ipylab
ipywidgets
jupyterlab-fonts
jupyter-videochat
wxyz-lab
