# docs
jupyter-book
sphinx-autoapi
# apps (for labextension version compatibility)
jupyterlab >=3.2,<4
# lite deps
jupyterlite[all] ==0.1.0a17
# pretties
ipylab
ipywidgets
jupyter-server-mathjax
jupyterlab-fonts
wxyz-lab
