nbconvert
nbformat
importnb
pytest
black
isort
click
stringcase
IPython
ipykernel 
nbsphinx
sphinxcontrib-svg2pdfconverter
sphinx-autoapi
sphinx_togglebutton
sphinx-copybutton
sphinx-comments
sphinxcontrib-bibtex
sphinx_book_theme>=0.0.36
sphinx-thebe>=0.0.6
sphinx-panels~=0.4.1